// Specific CSS for your home-page
@import "../components/map";

.home-fondo{
  background-image: url("https://res.cloudinary.com/dqij49pio/image/upload/v1667677528/IMG_8692_ripdqq.jpg");
  background-size: cover;
  background-repeat: none;

}

.carousel{
  border-radius: 15px;
}

.d-block{
  border-radius: 15px;
  position: relative;
}

.w60{
  width: 60%;
}

.w30{
  width: 30%;
}

.w40{
  width: 40%;
}

.home-card{
  border-radius: 15px;
  height: 90%;
  opacity: .9;
}

.home-btn{
 color: black;
 border-radius: 15px;
}


.height-40px{
  height: 40px;
}
