
.search_bar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 520px;
  height: 36px;
  border-radius: 5px 0px 0px 5px;
  margin: 0 !important;
}


.bar {
  gap: 8px;
  width: 476px;
  height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}

.serch {
  width: 44px;
  height: 36px;
  background: #203B80;
  border-radius: 0px 5px 5px 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding: 6px 8px;

}
